!!!
html(ng-app)
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/assets/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/main.styl")
    title= app.title
  body
    .container
      if current.path[0] != "index"
        h1= current.path[0] + "." + app.title
      else
        h1= app.title

      != partial("_partials/nav.jade")
      != yield
    //- scripts
    script(src="/assets/lib/angular/angular.min.js")
